.current::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #ff6b08;
}

.load-more:hover {
  background: #f87c29ce;
  color: antiquewhite;
}
